{
  "name": "The Zahra Trust",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/js/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"scripts-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/style/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style-base.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/style/sass/components/_mixin.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/js/vanilla.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"vanilla-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/style/sass/components",
      "assets/js",
      "assets/style",
      "assets/style/sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/style/sass/style.scss",
      "imports": [
        "assets/style/sass/themes/_colours.scss",
        "assets/style/sass/components/_mixin.scss",
        "assets/style/sass/themes/_layout.scss",
        "assets/style/sass/components/_reset.scss",
        "assets/style/sass/themes/_typography.scss",
        "assets/style/sass/layout/elements/_popupCart.scss",
        "assets/style/sass/layout/_layout.scss",
        "assets/style/sass/layout/elements/_preloader.scss",
        "assets/style/sass/layout/_content.scss",
        "assets/style/sass/layout/_singlePost.scss",
        "assets/style/sass/layout/elements/_homepageBanner.scss",
        "assets/style/sass/layout/elements/_featuredSlider.scss",
        "assets/style/sass/layout/elements/_featuredFixed.scss",
        "assets/style/sass/layout/elements/_statsCarousel.scss",
        "assets/style/sass/layout/elements/_singleitemSlider.scss",
        "assets/style/sass/layout/elements/_comments.scss",
        "assets/style/sass/layout/elements/_multiFunctionBoxes.scss",
        "assets/style/sass/layout/elements/_imageContentBox.scss",
        "assets/style/sass/layout/elements/_imageBGBox.scss",
        "assets/style/sass/layout/elements/_singleDonationBoxes.scss",
        "assets/style/sass/layout/elements/_multipleDonationBoxes.scss",
        "assets/style/sass/layout/elements/_imageOverlapBox.scss",
        "assets/style/sass/layout/elements/_donationPage.scss",
        "assets/style/sass/layout/elements/_loginRegister.scss",
        "assets/style/sass/layout/elements/_faqAccordion.scss",
        "assets/style/sass/layout/elements/_cookie.scss",
        "assets/style/sass/layout/elements/_khumsCalculator.scss",
        "assets/style/sass/layout/elements/_productListing.scss",
        "assets/style/sass/layout/elements/_themeListing.scss",
        "assets/style/sass/layout/elements/_checkoutPage.scss",
        "assets/style/sass/layout/elements/_cartPage.scss",
        "assets/style/sass/layout/elements/_productSinglePage.scss",
        "assets/style/sass/layout/elements/_orderThankYou.scss",
        "assets/style/sass/woocommerce/_account.scss",
        "assets/style/sass/vendors/grayscale/_gray.min.scss",
        "assets/style/sass/vendors/fancybox/_jquery.fancybox.min.scss",
        "assets/style/sass/vendors/aos/_aos.scss",
        "assets/style/sass/layout/_wordpress.scss",
        "assets/style/sass/themes/_buttons.scss",
        "assets/style/sass/layout/_responsive.scss",
        "assets/style/sass/themes/_loader.scss",
        "assets/style/sass/layout/_header.scss",
        "assets/style/sass/layout/_body.scss",
        "assets/style/sass/layout/_footer.scss",
        "assets/style/sass/vendors/mmenu/_jquery.mmenu.all.scss",
        "assets/style/sass/vendors/mmenu/_mmenu-light.scss",
        "assets/style/sass/vendors/fullpage/_fullpage.min.scss",
        "assets/style/sass/vendors/slick/_slick-theme.scss",
        "assets/style/sass/vendors/datepicker/_datepicker.scss",
        "assets/style/sass/layout/elements/_Gutenberg.scss"
      ]
    },
    {
      "path": "assets/js/scripts.js",
      "imports": [
        "assets/js/lib/_loader.js",
        "assets/js/lib/_mark.js",
        "assets/js/lib/fancybox/_jquery.fancybox.min.js",
        "assets/js/lib/_macy.js",
        "assets/js/lib/_jquery.countdownTimer.min.js",
        "assets/js/lib/_slick.js",
        "assets/js/lib/jqueryvalidate/_jquery.validate.js",
        "assets/js/lib/_datepicker.js",
        "assets/js/lib/_cookies.js",
        "assets/js/lib/_aos.js"
      ]
    },
    {
      "path": "assets/style/sass/admin.scss",
      "imports": [
        "assets/style/sass/themes/_colours.scss",
        "assets/style/sass/components/_mixin.scss",
        "assets/style/sass/components/_reset.scss",
        "assets/style/sass/themes/_buttons.scss"
      ]
    },
    {
      "path": "assets/style/sass/dashboard.scss",
      "imports": [
        "assets/style/sass/themes/_colours.scss",
        "assets/style/sass/components/_mixin.scss",
        "assets/style/sass/themes/_buttons.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7905,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}