/*------------------------------------*\
    Variables
\*------------------------------------*/

$lightgray: #aaaaaa;
$gray: #444;
$cyan: #04A4CC;
$white: #fff;
$black: #000000;

// Tokens
$teal-1: #1c5151; // defaults only—overridden by ACF color pickers
$teal-2: #0f8a8b;

/// Breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 959px;  // ← your “max-width: 959px” breakpoint
$breakpoint-large: 1200px;

// Background colour variables
$bg-default:  #353e4d;
$bg-yellow:   #f4d60b;
$bg-dark-blue:#343340;
$bg-grey:     #eaeaec;

 

 
// --------------------------------------------------
// Colors
// --------------------------------------------------
$color-primary:         #00d5b4;
$color-primary-hover:  #00e9c5;
$color-accent:          #f7003a;
$color-accent-alt:      #e00d87;
$gradient-start:       #c80c78;
$gradient-hover:       #ff1249;
$bg-mini-cart-total:   #f7f7f8;


$spacer: 1rem;



$font-size-h2: 4rem;
 