
// 1) Variables & tools
@use 'abstracts/variables' as vars;

// 2) Base styles
@use 'base/base';

// 3) Forms styles
@use 'base/forms';

// 4) Base 
@use 'base/typography';
@use 'base/responsive';
@use 'base/fontawesome';
@use 'base/woocommerce';
@use 'base/buttons';
@use 'base/colours';
@use 'base/alignment';
@use 'base/spacing';


// 5) Components 
@use 'components/donation_box';
@use 'components/general';
@use 'components/gutenberg';
@use 'components/ui_helper';
@use 'components/faq';
@use 'components/legacy_call_out';
@use 'components/project_pills';
@use 'components/project_cards';
@use 'components/two_up_hero';
@use 'components/impact_stats';
@use 'components/impact_map';
@use 'components/top_supporters';
@use 'components/donation_hero';
@use 'components/landing_hero';
@use 'components/misc';


// 6) Layout 
@use 'layout/container';
@use 'layout/header';
@use 'layout/footer';


html {
  scroll-behavior: smooth;
  height: 100%
}

html.gutenberg__wrap {
  height: 100%
}

@media (max-width: vars.$breakpoint-medium) {

  html input[type=button],
  html input[type=select],
  html input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }
}

/* Temporary CSS fixes for conflicts with themes */

.site-container {
  margin: 0 auto !important;
}

#main-header>div>div>div>div>div>div>div>div.site-header-main-section-right.site-header-section.site-header-section-right>div:nth-child(3)>div>div>a {
  text-decoration: none;
  font-weight: bold;
}

// Cart


.gutenberg__wrap .continue_shopping_popup {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window {
  z-index: 21;
  position: absolute;
  width: 600px;
  height: 100%;
  background: #ffffff;
  top: 0;
  right: -90px;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .close_popup {
  position: absolute;
  display: block;
  background: #00d5b4;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: -70px
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .close_popup svg {
  width: 40px;
  height: 37px;
  fill: #ffffff
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .close_popup:hover {
  background: #00e9c5;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .close_popup {
    padding: 8px;
    left: -56px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .cart_wrap {
  overflow: auto;
  height: 100%
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .cart_wrap {
    height: calc(100% - 99px);
    overflow-x: hidden
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content {
  padding: 0
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__empty-message,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
  display: none
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 {
  position: relative;
  font-family: "PT Sans", sans-serif;
  color: #00d5b4;
  margin-left: 14px;
  font-size: 40px;
  padding: 15px 0 15px 60px
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4 svg,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 svg {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 10px
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4 svg g,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4 svg path,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 svg g,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 svg path {
  fill: #00d5b4
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4 svg,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 svg {
    width: 30px;
    height: 30px
  }
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h4,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h4 {
    font-size: 30px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h3,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h3 {
  color: #00d5b4;
  font-weight: bold;
  font-size: 24px;
  padding: 25px 30px;
  text-transform: uppercase
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content h3,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content h3 {
    padding: 15px 26px;
    font-size: 25px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul {
  position: relative
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item {
  line-height: 40px;
  border-top: 1px #eaeaec solid;
  padding: 5px 30px 20px 30px;
  position: relative;
  font-size: 26px;
  color: #000000;
  font-weight: normal
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item:before,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item:before {
  content: "";
  display: table
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item:after {
  clear: both
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item dt.variation-DonationType,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item dt.variation-DonationType {
  display: none
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item dd.variation-DonationType,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item dd.variation-DonationType {
  padding: 5px 0
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item dd.variation-DonationType p,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item dd.variation-DonationType p {
  font-size: 18px;
  color: #d5d5d9;
  font-size: normal
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item img,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item img {
  width: 70px;
  height: auto;
  float: left;
  margin: 5px 30px 5px 10px;
  display: none
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item img,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item img {
    width: 20%
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .quantity,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .quantity {
  line-height: 16px;
  display: block;
  padding: 0;
  width: 300px;
  font-weight: bold;
  color: #00d5b4;
  font-size: 20px
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .quantity,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .quantity {
    font-size: 18px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .remove_from_cart_button,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .remove_from_cart_button_recurring,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .remove_from_cart_button,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .remove_from_cart_button_recurring {
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
  color: #f7003a;
  line-height: 24px;
  position: absolute;
  bottom: 30px;
  right: 10px;
  display: block;
  border: 1px #eaeaec solid;
  width: 25px;
  height: 25px;
  color: #e00d87;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  line-height: 14px
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .remove_from_cart_button,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item .remove_from_cart_button_recurring,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .remove_from_cart_button,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item .remove_from_cart_button_recurring {
    bottom: 20px
  }
}

@media (max-width: 959px) {

  .gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul .mini_cart_item,
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul .mini_cart_item {
    font-size: 20px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul:after {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  height: 0px;
  visibility: hidden;
  content: "";
  background: #000000;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content ul.loading:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content ul.loading:after {
  height: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  visibility: visible;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total {
  background: #f7f7f8;
  padding: 20px 25px
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total:before,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total:before {
  content: "";
  display: table
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total:after,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total:after {
  clear: both
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total strong,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total strong {
  width: 50%;
  float: left;
  text-align: left
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .recurring_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount,
.gutenberg__wrap .continue_shopping_popup .pop-up-window .widget_shopping_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 20px;
  font-weight: bold
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap {
  background: #ffffff;
  padding: 20px 0;
  text-align: center;
  display: block
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a {
  background: #00d5b4;
  border: 3px #00d5b4 solid;
  color: #fff;
  position: relative
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a:before {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 0;
  top: 0;
  left: 0;
  background: #00d5b4;
  content: "";
  height: 100%;
  position: absolute;
  z-index: -1
}

// .gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a:hover {
//   color: #ffffff
// }

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a:hover:before {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a#continue_shopping_button {
  background: #c80c78;
  background: -moz-linear-gradient(left, #c80c78 0%, #f7003a 100%);
  background: -webkit-gradient(linear, left, right, color-stop(0%, #c80c78), color-stop(100%, #f7003a));
  background: -webkit-linear-gradient(left, #c80c78 0%, #f7003a 100%);
  background: -o-linear-gradient(left, #c80c78 0%, #f7003a 100%);
  background: -ms-linear-gradient(left, #c80c78 0%, #f7003a 100%);
  background: -webkit-gradient(linear, left top, right top, from(#c80c78), to(#f7003a));
  background: linear-gradient(to right, #c80c78 0%, #f7003a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  padding: 21px 25px;
  color: #ffffff
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a#continue_shopping_button:before {
  background: #ff1249
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a#continue_shopping_button {
    padding: 14px 10px;
    font-size: 15px
  }
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap a {
    padding: 11px 10px;
    font-size: 15px
  }
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.06);
    box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.06);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=-7px, Color='#0F000000')
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .woocommerce-mini-cart__buttons {
  display: none
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap {
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 545px;
  display: none
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_continue_shopping {
  display: inline-block;
  background: #ffffff;
  border: 1px #eaeaec solid;
  position: relative;
  ext-align: center;
  width: 150px;
  text-transform: none;
  font-size: 16px;
  padding: 15px 25px;
  margin: 8px 0
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_continue_shopping:before {
  font-family: Font Awesome\ 5 Pro;
  position: absolute;
  content: "\f060";
  top: 17px;
  left: 25px;
  color: #f4d60b;
  font-size: 16px
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_continue_shopping {
    width: 80px
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_checkout_button {
  float: right;
  display: inline-block;
  position: relative;
  background: #ffffff;
  color: #00d5b4;
  border: 5px #00d5b4 solid;
  text-align: center;
  width: 150px;
  text-transform: none;
  font-size: 18px;
  padding: 18px 25px
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_checkout_button:before {
  font-family: Font Awesome\ 5 Pro;
  position: absolute;
  content: "\f023";
  top: 17px;
  left: 25px;
  color: #f4d60b;
  font-size: 16px
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap .woo_checkout_button {
    width: 80px
  }
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_button_wrap {
    width: calc(100% - 100px)
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_card_logos {
  padding: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .mini_cart_card_logos:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

@media (max-width: 959px) {
  .gutenberg__wrap .continue_shopping_popup .pop-up-window {
    width: 85%
  }
}

.gutenberg__wrap .continue_shopping_popup .pop-up-window .checkout_button_wrap {
  display: block
}

.gutenberg__wrap .continue_shopping_popup:after {
  position: absolute;
  content: "";
  z-index: 20;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.55;
  filter: alpha(opacity=55)
}

.gutenberg__wrap .continue_shopping_popup.active {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .continue_shopping_popup.active .pop-up-window {
  right: 0px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.gutenberg__wrap .variation:after,
.gutenberg__wrap .variation:before {
  content: "";
  display: table
}

.gutenberg__wrap .variation:after {
  clear: both
}

.gutenberg__wrap .variation .variation-RecipientEmail,
.gutenberg__wrap .variation .variation-RecipientName {
  width: 50%;
  float: left;
  font-size: 16px;
  line-height: 14px
}

.gutenberg__wrap .variation .variation-RecipientEmail p,
.gutenberg__wrap .variation .variation-RecipientName p {
  font-size: 16px;
  margin: 0;
  padding: 0
}

.gutenberg__wrap .variation dt {
  line-height: 28px !important
}

.gutenberg__wrap .variation dt.variation-AreyouaSayed,
.gutenberg__wrap .variation dt.variation-PriceHandle {
  display: none
}

.gutenberg__wrap .variation dd.variation-AreyouaSayed p {
  padding: 0 0 10px 0
}

.site-header {
  nav {
    ul.menu {
      a {
        font-size: 1.15rem;
        text-transform: capitalize;
      }
    }

  }
}

// .cart{
//   input, button{
//     position: absolute !important;
//     top: 0px;
//   }
// }


/// ******  MISC.SCSS ****** ////

// Header Menu Nav Padding

.header-navigation .header-menu-container ul ul li.menu-item>a {

  padding-top: 0 !important;
  padding-bottom: 0 !important;
}



.new-donate-button{
  padding: 5px 30px !important;
  font-weight: bold;
  letter-spacing: 1px;
}

#order_review{
  width: 100% !important;
  padding: 0 !important;
}

 









